@font-face {
    font-family: 'KingthingsPetrock';
    src: url("../fonts/KingthingsPetrock.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KingthingsPetrockLight';
    src: url("../fonts/KingthingsPetrockLight.ttf");
    font-weight: bold;
    font-style: normal;
}

html {
    background: transparent url(../images/bg-main.gif) repeat 0 0;  
    height: 100%;
}

body {
  width: 758px;
  margin: 6px auto 0;
  border-top: solid 1px #8e8e8e;
  background: transparent url(../images/bg-texture.png) no-repeat top center;
  height: 100%;
  color: #484848;
  font-size: 13px;
  position: relative;
  font-family: KingthingsPetrockLight;
}

footer {
    float:left;
}
  
a {
    color: #484848;
    text-decoration: none; 
}

a:hover, a:active {
    text-decoration: underline; 
}
  
p {
  margin: 0 0 13px 0;
  text-align: justify;
  line-height: 1em; 
}

h1 {
  text-shadow: #fff 1px 1px;
  font-family: KingthingsPetrock;
  text-transform: uppercase;
  line-height: 1; 
}

h2 {
  font-family: KingthingsPetrock;
  padding: 7px 0 0 0;
  margin: 0; 
}

body > header {
  border-top: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  margin: 1px auto;
  padding-top: 8px;
  overflow: hidden;
  position: relative; }

.logo {
  vertical-align: top; }

.h {
  text-align: center;
  margin-left: 30px; }

body > header {
  text-align: center; 
}
  body > header h1 {
    font-family: KingthingsPetrockLight;
    font-size: 60px;
    position: relative;
    margin: 10px 0 0 0;
    font-weight: normal;
    line-height: .9; 
  }
  body > header h1 span {
    position: absolute;
    left: 40px;
    top: 40%;
    font-size: 30%; 
  }
  body > header h1 a:hover,
  body > header h1 a:active {
    text-decoration: none; 
  }
  body > header p {
    line-height: 29px;
    font-size: 12px;
    font-size: 0.75rem;
    margin: 0; 
  }
  body > header #volume {
    float: left; 
  }
  body > header time {
    float: right; 
  }

.issue {
  right: 0;
  text-align: right; 
}

.tagline {
  text-transform: lowercase;
  background-image: none;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: none;
  font-weight: normal;
  line-height: 2; 
}

nav {
  border-top: double 3px #8e8e8e;
  text-align: center; 
}
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    width: 10.2em; 
  }
  nav li {
    display: inline-block;
    padding: 0 1em; 
  }
  nav a {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.875rem;
    display: block;
    line-height: 27px; 
  }

main {
  margin: 1px 0 0 0;
  border-top: solid 1px #8e8e8e;
  padding: 15px 0;
  clear: both; 
}
  main > div {
    float: left; 
  }
    main > div:first-of-type,
    main > div .primary {
      width: 50%;
      padding-right: 4px;
      box-sizing: border-box; 
    }
    main > div:nth-of-type(2),
    main > div .secondary {
      width: 17%; 
    }
    main > div:last-of-type,
    main > div .tertiary {
      width: 33%;
      margin-right: 0;
      padding-left: 4px;
      box-sizing: border-box; 
    }
  main > div:first-of-type h1 {
    font-size: 33px;
    padding: 0 0 4px 0;
    letter-spacing: -1px;
    text-align: left; 
  }
  main h1 {
    font-size: 22px;
    margin: 10px 0 8px 0; 
  }
  main hgroup {
    padding: 0 0 10px 0;
    margin: 0 0 5px 0;
  }
  
.ad-ad1 {
    border: solid 1px #888;
    border-width: 1px 0;
    
}
  
.ad-ad1 a:hover,
.ad-ad1 a:active {
  text-decoration: none; 
}
.ad-ad1 h1 {
  font-family: KingthingsPetrock;
  letter-spacing: 0.1em;
  font-size: 36px;
  margin: 0 0 0 0;
  text-align: center; 
}
.ad-ad1 h1:first-letter {
  letter-spacing: -0.1em; 
}

.ad-ad1 p {
  margin: 10;
  font-family: KingthingsPetrockLight;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center; 
}

.ad-ad2 {
    position: relative;
    float: right;
}

aside > article:nth-of-type(2),
.ad-ad2 {
  background-position: bottom left;
  background-repeat: no-repeat;
  transition: transform  2s linear 250ms;
  min-height: 140px; 
}

  aside > article:nth-of-type(2) h1,
  .ad-ad2 h1 {
    font-size: 20px;
    font-family: KingthingsPetrock;
    padding: 0 30px 0 75px;
    line-height: 1;
    color: #999;
    margin: 0 0 0 15px;
    text-align: left; 
  }
    aside > article:nth-of-type(2) h1 span,
    .ad-ad2 h1 span {
      font-size: 30px;
      color: #999999;
      display: inline-block;
      transition: color 0.2s ease-out, transform 0.2s ease-out; 
    }
    aside > article:nth-of-type(2) h1:hover span,
    .ad-ad2 h1:hover span {
      color: #484848;
      transform: rotate(10deg) translateX(40px) scale(1.5); 
    }
    aside > article:nth-of-type(2) p,
  .ad-ad2 p {
    padding: 5px 3px 0 75px;
    font-size: 0.85em; 
  }
    
aside p + a {
    display: block;
    text-decoration: none;
    border: 5px double;
    color: #ffffff;
    background-color: #484848;
    text-align: center;
    font-size: 28px;
    margin: 5px 5px 9px 5px;
    padding: 15px 0;
    position: relative;
    border-radius: 25px;
    box-shadow: 2px 5px 0 0 #484848;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    font-family: KingthingsPetrockLight;
}

/*Gallery*/
.thumbnails img {
	height: 80px;
	border: 4px solid #555;
   	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	width: 800px;
}

/*TABLE*/
table, tr, th, td {
    margin:0;
    padding:10px;
    border: solid 1px #222;
    border-collapse: collapse;
}

/*FORM*/
form {
  border: solid 2px #888;
  border-width: 2px 0;
  clear: both;
  box-shadow: inset 1px 1px 84px rgba(0, 0, 0, 0.24), inset -1px -1px 84px rgba(0, 0, 0, 0.24);
  margin: 1px 0;
  text-align: center;
  padding: 20px;
  min-height: 300px;
}
  form ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
  form li {
    margin-bottom: 40px; 
  }
  form p {
    text-align: center; 
  }
  form h1 {
    margin: 0 auto;
    font-size: 50px;
    font-family: KingthingsPetrockLight;
    text-align: center;
    white-space: nowrap;
  }
    form h1 + p {
      font-size: 20px;
      margin-bottom: 50px;
      font-family: KingthingsPetrock; 
    }
    
label {
  font-family: KingthingsPetrockLight;
  font-size: 26px;
  display: block;
  margin: auto;
  text-align: center; 
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="type"],
textarea {
  background: transparent no-repeat top right;
  border: 0 dotted #484848;
  border-bottom-width: 1px;
  display: block;
  margin: 10px auto 10px;
  font-style: italic;
  font-family: KingthingsPetrock;
  padding: 5px 30px;
  width: 50%; 
}

.zipcode {
  width: 25%;
  display: inline-block;
  margin-right: 25px; }

input[type=number] {
  width: 3em; }

:invalid {
  box-shadow: none; }

::-webkit-input-placeholder {
  color: #333; }

input {
  font-size: 20px;
  text-align: center; }

input[type=submit],
input[type=button] {
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-family: KingthingsPetrockLight;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding: 10px 30px;
  margin: 10px auto;
  opacity: 0.8;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear; 
}

input[type=submit]:hover {
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear; 
}
    
.footerinfo {
  clear: both;
  height: 30px;
  width: 100%;
  background: transparent; 
}

#authors {
  padding-top: 10px;
  padding-right: 20px;
  background-color: #d1d1d1;
  border: solid 1px #888;
  border-width: 1px 0;
  overflow: hidden;
  display: flex; 
}
  #authors h1 {
    margin: 0; 
  }
  #authors section {
    padding: 0 0 0 20px;
    box-sizing: border-box; 
  }
    #authors section:nth-of-type(2) {
      order: 2; 
    }
    
@media screen and (max-width: 500px) {
  body {
    width: 100%;
    min-width: 320px; }

  body > header h1 {
    font-size: 7vw; }

  body main > div:nth-of-type(n),
  aside,
  aside article {
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box; }

  article h2,
  #mouseContainer {
    text-align: left;
    background-position: left top; }

  .content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; 
  }

  article:not([id="ac1"]) {
    border-top: 1px solid;
    margin-top: 1em;
    padding-top: 1em; 
  }

  #authors {
    flex-direction: column; 
  } 
}